'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Levels'
      'submenu': [
        {
          'label': 'Install Language(s)...'
          'command': 'levels:install-languages'
        },
        {
          'label': 'Uninstall Language(s)'
          'command': 'levels:uninstall-languages'
        }
      ]
    ]
  }
]
