'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Levels'
      'submenu': [
        {
          'label': 'Toggle Language Manager'
          'command': 'levels:toggle-language-manager'
        }
      ]
    ]
  }
]
