'atom-workspace':
  'ctrl-cmd-l': 'levels:toggle-level-select'
  'ctrl-cmd-t': 'levels:toggle-terminal'
  'ctrl-cmd-+': 'levels:increase-terminal-font-size'
  'ctrl-cmd--': 'levels:decrease-terminal-font-size'
  'ctrl-cmd-r': 'levels:start-execution'
  'ctrl-cmd-s': 'levels:stop-execution'
