@import "ui-variables";
@import "levels-ui-variables";

.levels-view {

  &.language-manager {

    .overlay-hack {
      display: none;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
    }

    .language-list {

      .header {
        background-color: @language-manager-background-color;
        margin-bottom: @component-padding;
        padding: @component-padding;
        .heading {
          font-size: 16px;
          margin-bottom: @component-padding;
        }
        >atom-text-editor {
          margin: 0;
          &.is-focused {background-color: @input-background-color;}
        }
      }

      .language-cards {
        height: (@language-card-height * 5) + 5px;
        margin-bottom: @component-padding - 1px;
        overflow-y: scroll;
        .language-card {
          background-color: @language-manager-background-color;
          height: @language-card-height;
          margin-bottom: 1px;
          padding: @component-padding;
          &:hover {
            background-color: lighten(@overlay-background-color,5%);
          }
          .controls {
            height: 100%;
            padding-top: 2.5px;
          }
          .language-name {
            color: @text-color-highlight;
            font-size: 12px;
            margin-right: 5px;
          }
          .level-count {
            margin-right: 5px;
          }
          .newness-indicator {
            &.icon::before {
              margin-right: 0;
            }
          }
        }
      }

      >.controls {
        background-color: lighten(@overlay-background-color,3%);
        margin-top: @component-padding;
        overflow: auto;
        padding: @component-padding;
      }
    }
  }

  &.level-status {
    a, a:focus, a:hover {
      color: @text-color;
      outline: 0;
    }
  }

  &.terminal-panel {
    background-color: @tool-panel-background-color;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.07);
    width: 100%;
    -webkit-user-select: none;

    .resize-handle {
      cursor: row-resize;
      height: 10px;
      left: 0;
      position: absolute;
      right: 0;
      top: -5px;
      z-index: 1;
    }

    .control-bar {
      height: 26px;
      padding: 5px 12.5px;
      a, a:focus, a:hover {
        color: @text-color;
        outline: 0;
      }
      .control-bar-left {
        display: inline;
        width: 50%;
        .control-element {padding-right: 10px;}
        .control-bar-separator {margin-right: 10px;}
      }
      .control-bar-right {
        display: inline;
        float: right;
        a {margin-left: 10px;}
        .control-bar-separator {margin-left: 10px;}
      }
      .control-group {
        display: inline;

        &.execution-controls {
          a {text-decoration: none;}
        }
      }
      .control-element {
        display: inline;
        select {
          background-color: transparent;
          border: none;
          box-shadow: none;
          color: @text-color;
          cursor: pointer;
          margin-left: 5px;
          -webkit-appearance: none;
          &:hover {text-decoration: underline;}
        }
      }
      .control-bar-separator {
        border-left: 1px solid @text-color-subtle;
        display: inline;
      }
      .icon::before {
        font-size: 14px;
        height: 14px;
        margin-right: 0;
        width: 14px;
      }
    }

    .terminal-container {
      background-color: #000;
      .terminal {
        color: #fff;
        font-family: Courier;
        overflow: auto;
        padding-left: 12.5px;
        position: relative;
        .cursor {
          background-color: #fff;
          margin-left: 12.5px;
          position: absolute;
        }
        .line {
          white-space: pre;
          a {
            &.warning-link {
              color: @text-color-warning;
              &:hover {color: lighten(@text-color-warning,8%)}
            }
            &.error-link {
              color: @text-color-error;
              &:hover {color: lighten(@text-color-error,5%)}
            }
          }
          .text-subtle,
          .text-error  {
            font-weight: bold;
          }
        }
      }
    }

    .terminal-info {
      background-color: #000;
      border: 1px solid #fff;
      border-radius: @component-border-radius;
      bottom: 10px;
      color: #fff;
      display: none;
      height: 25px;
      line-height: 15px;
      padding: 4px 12.5px;
      position: absolute;
      right: 10px;
    }
  }

  &.progress-panel {
    background-color: @overlay-background-color;
    border: 1px solid @overlay-border-color;
    border-radius: @component-border-radius;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: none;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding: @component-padding * 2;
    position: absolute;
    right: 0;
    width: 300px;
    z-index: 3;
    .headline {
      color: @text-color-highlight;
    }
    progress {
      margin: 2px 0;
      width: 100%;
    }
    .issue-log-container {
      border-top: 1px solid @overlay-border-color;
      margin-top: @component-padding / 2;
      padding: (@component-padding / 2) 0;
      .issue-count {
        margin-bottom: 2px;
      }
      .issue-log {
        height: 60px;
        overflow-y: scroll;
        span {display: block;}
      }
    }
    .controls {
      overflow: auto;
    }
  }

  &.annotation-overlay {
    background-color: fade(#aaa,90%);
    border-top-right-radius: @component-border-radius;
    border-bottom-right-radius: @component-border-radius;
    border-bottom-left-radius: @component-border-radius;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    color: #000;
    display: none;
    font-size: 10px;
    margin-top: 3px;
    padding: @component-padding / 2;
    width: 300px;
    hr {
      border-top: 1px solid #888;
      margin: 5px 0;
    }
    .type {
      font-size: 9px;
      margin-right: 5px;
    }
    .position {color: #666;}
    .source {color: #666;}
    &::before {
      border-color: transparent transparent transparent fade(#aaa,90%);
      border-style: solid;
      border-width: 6px 0 0 6px;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      top: -3px;
      width: 0;
    }
  }

}
