@import "ui-variables";

@terminal-background-color: @inset-panel-background-color;
@terminal-text-color: @text-color-highlight;

atom-text-editor.editor {
  .line-number {
    &.syntax--annotation:hover {
      opacity: 1;
    }

    &.annotation-error {
      background-color: fade(@text-color-error, 25%);
      color: @text-color-error;
    }

    &.annotation-warning {
      background-color: fade(@text-color-warning, 25%);
      color: @text-color-warning;
    }
  }
}

.levels-view {
  &.annotation-overlay {
    background-color: @overlay-background-color;
    border-radius: @component-border-radius;
    border-top-left-radius: 0;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.3);
    color: @terminal-text-color;
    font-size: 85%;
    margin-top: 3px;
    min-width: 300px;
    padding: @component-padding / 2;
    width: 50%;

    hr {
      border-top: 1px solid @overlay-border-color;
      margin: 5px 0;
    }

    &::before {
      border-color: transparent transparent transparent @overlay-background-color;
      border-style: solid;
      border-width: 6px 0 0 6px;
      content: "";
      left: 0;
      position: absolute;
      top: -3px;
    }

    .header {
      align-items: center;
      display: flex;
      flex-direction: row;

      .type {
        flex: 0 0 auto;
        margin-right: 5px;
        text-transform: capitalize;
      }

      .position {
        color: @text-color;
        flex: 0 0 auto;
      }

      .source {
        color: @text-color;
        flex: 0 0 auto;
        margin-left: auto;
        text-transform: capitalize;

        &::before {
          content: "Source: ";
        }
      }
    }
  }

  &.terminal-panel {
    background-color: @tool-panel-background-color;
    user-select: none;
    width: 100%;

    .resize-handle {
      cursor: row-resize;
      height: 10px;
      left: 0;
      position: absolute;
      right: 0;
      top: -5px;
      z-index: 1;
    }

    .control-bar {
      padding: 5px 12.5px;

      a, a:focus, a:hover {
        color: @text-color;
        outline: 0;
      }

      .control-bar-left {
        display: inline;

        .control-element {
          margin-right: 10px;
        }

        .control-bar-separator {
          margin-right: 10px;
        }
      }

      .control-bar-right {
        display: inline;
        float: right;

        a {
          margin-left: 10px;
        }

        .control-bar-separator {
          margin-left: 10px;
        }
      }

      .control-group {
        display: inline;

        &.execution-controls {
          a {
            text-decoration: none;
          }
        }
      }

      .control-element {
        display: inline;

        select {
          background-color: transparent;
          border: none;
          box-shadow: none;
          color: @text-color;
          cursor: pointer;
          margin-left: 5px;
          -webkit-appearance: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .control-bar-separator {
        border-left: 1px solid @text-color-subtle;
        display: inline;
      }

      .icon::before {
        font-size: @font-size;
        height: auto;
        margin-right: 5px;
        width: auto;
      }
    }

    .terminal-container {
      background-color: @terminal-background-color;

      .terminal {
        color: @terminal-text-color;
        font-family: Courier;
        overflow: auto;
        padding-left: 12.5px;
        position: relative;

        .cursor {
          background-color: @terminal-text-color;
          margin-left: 12.5px;
          position: absolute;
        }

        .line {
          white-space: pre;

          a {
            &.error-link {
              color: @text-color-error;

              &:hover {
                color: lighten(@text-color-error, 5%);
              }
            }

            &.warning-link {
              color: @text-color-warning;

              &:hover {
                color: lighten(@text-color-warning, 8%);
              }
            }
          }
        }
      }
    }

    .terminal-info {
      align-items: center;
      background-color: @terminal-background-color;
      border: 1px solid @terminal-text-color;
      border-radius: @component-border-radius;
      bottom: 12.5px;
      color: @terminal-text-color;
      display: none;
      height: 25px;
      justify-content: center;
      opacity: 0;
      padding: 5px 12.5px;
      position: absolute;
      right: 12.5px;
    }
  }
}