@import "ui-variables";

@panel-background-color: @overlay-background-color;
@panel-border-color: @overlay-border-color;
@panel-box-shadow-color: rgba(0,0,0,0.5);
@panel-section-background-color: lighten(@overlay-background-color,3%);

@terminal-text-color: @text-color-highlight;
@terminal-background-color: @inset-panel-background-color;

@annotation-warning-background-color: fade(@text-color-warning,25%);
@annotation-error-background-color: fade(@text-color-error,25%);

atom-text-editor.editor {
  .line-number {
    &.syntax--annotation:hover {
      opacity: 1;
    }
    
    &.annotation-warning {
      color: @text-color-warning;
      background-color: @annotation-warning-background-color;
    }
    
    &.annotation-error {
      color: @text-color-error;
      background-color: @annotation-error-background-color;
    }
  }
}

.levels-view {
  &.annotation-overlay {
    background-color: @overlay-background-color;
    border-radius: @component-border-radius;
    border-top-left-radius: 0px;
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.3);
    color: @text-color-highlight;
    font-size: 85%;

    margin-top: 3px;
    padding: @component-padding / 2;

    min-width: 300px;
    width: 50%;

    hr {
      border-top: 1px solid @overlay-border-color;
      margin: 5px 0px;
    }

    &::before {
      border-color: transparent transparent transparent @overlay-background-color;
      border-style: solid;
      border-width: 6px 0 0 6px;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      top: -3px;
      width: 0;
    }

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;

      .type {
        flex: 0 0 auto;
        margin-right: 5px;
        text-transform: capitalize;
      }

      .position {
        flex: 0 0 auto;
        color: @text-color;
      }

      .source {
        flex: 0 0 auto;
        margin-left: auto;
        color: @text-color;
        text-transform: capitalize;

        &::before {
          content: "Source: ";
        }
      }
    }
  }

  &.panel {
    background-color: @panel-background-color;
    border: 1px solid @panel-border-color;
    border-radius: @component-border-radius;
    box-shadow: 0 0 10px @panel-box-shadow-color;

    margin-left: auto;
    margin-right: auto;
    padding: @component-padding;

    position: absolute;
    right: 0;
    left: 0;
  }

  &.terminal-panel {
    background-color: @tool-panel-background-color;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.07);
    width: 100%;
    -webkit-user-select: none;

    .resize-handle {
      cursor: row-resize;
      height: 10px;
      left: 0;
      position: absolute;
      right: 0;
      top: -5px;
      z-index: 1;
    }

    .control-bar {
      height: 26px;
      padding: 5px 12.5px;
      a, a:focus, a:hover {
        color: @text-color;
        outline: 0;
      }
      .control-bar-left {
        display: inline;
        width: 50%;
        .control-element {padding-right: 10px;}
        .control-bar-separator {margin-right: 10px;}
      }
      .control-bar-right {
        display: inline;
        float: right;
        a {margin-left: 10px;}
        .control-bar-separator {margin-left: 10px;}
      }
      .control-group {
        display: inline;

        &.execution-controls {
          a {text-decoration: none;}
        }
      }
      .control-element {
        display: inline;
        select {
          background-color: transparent;
          border: none;
          box-shadow: none;
          color: @text-color;
          cursor: pointer;
          margin-left: 5px;
          -webkit-appearance: none;
          &:hover {text-decoration: underline;}
        }
      }
      .control-bar-separator {
        border-left: 1px solid @text-color-subtle;
        display: inline;
      }
      .icon::before {
        font-size: 14px;
        height: 14px;
        margin-right: 0;
        width: 14px;
      }
    }

    .terminal-container {
      background-color: @terminal-background-color;
      .terminal {
        color: @terminal-text-color;
        font-family: Courier;
        overflow: auto;
        padding-left: 12.5px;
        position: relative;
        .cursor {
          background-color: @terminal-text-color;
          margin-left: 12.5px;
          position: absolute;
        }
        .line {
          white-space: pre;
          a {
            &.warning-link {
              color: @text-color-warning;
              &:hover {color: lighten(@text-color-warning,8%)}
            }
            &.error-link {
              color: @text-color-error;
              &:hover {color: lighten(@text-color-error,5%)}
            }
          }
        }
      }
    }

    .terminal-info {
      background-color: @terminal-background-color;
      border: 1px solid @terminal-text-color;
      border-radius: @component-border-radius;
      bottom: 10px;
      color: @terminal-text-color;
      display: none;
      height: 25px;
      line-height: 15px;
      padding: 4px 12.5px;
      position: absolute;
      right: 10px;
    }
  }
}