@import "ui-variables";
@import "levels-ui-variables";

atom-text-editor.editor {
  .line-number {
    &.syntax--annotation:hover {
      opacity: 1;
    }
    
    &.annotation-warning {
      color: @text-color-warning;
      background-color: @annotation-warning-background-color;
    }
    
    &.annotation-error {
      color: @text-color-error;
      background-color: @annotation-error-background-color;
    }
  }
}