@import "ui-variables";

@panel-background-color: @overlay-background-color;
@panel-border-color: @overlay-border-color;
@panel-box-shadow-color: rgba(0,0,0,0.5);
@panel-section-background-color: lighten(@overlay-background-color,3%);

@language-manager-background-color: lighten(@overlay-background-color,3%);
@language-card-height: 52px;

@annotation-warning-background-color: fade(@text-color-warning,25%);
@annotation-error-background-color: fade(@text-color-error,25%);
